<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="userAuth?.currentUser">
  <!-- <div>{{userAuth?.currentUser | json}}</div> -->
  <h3>User Details</h3>
  <!-- <ion-item> -->
  <ion-row>
    <ion-col size="3">Name: </ion-col>
    <ion-col>{{userAuth?.currentUser?.firstName}} {{userAuth?.currentUser?.lastName}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">Gender: </ion-col>
    <ion-col>{{userAuth?.currentUser?.gender}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">Contact Email: </ion-col>
    <ion-col>{{userAuth?.currentUser?.email}} </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">Address: </ion-col>
    <ion-col>{{userAuth?.currentUser?.address}}, {{userAuth?.currentUser?.state}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">Hobbies: </ion-col>
    <ion-col>{{userAuth?.currentUser?.hobbies }}</ion-col>
  </ion-row>
  <!-- </ion-item> -->
</ion-content>
<ion-content *ngIf="!userAuth?.currentUser">
  <ion-label>No data available</ion-label>
</ion-content>